.login {
    font-size: 1rem;
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: 600;
    background: #e1fcef;
    color: var(--success);
    border: 1px solid var(--success);
    cursor: pointer;
}